body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.5s ease-out;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0000001a;
}

.heading-box {
    background: linear-gradient(to bottom, #ff8c42, #f2d2bd);
    border: 5px solid #4169e1;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.heading-box h1,
.heading-box p {
    color: #0a6d9e;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ffffff;
}

.heading-box h1 {
    font-size: 45px;
    letter-spacing: 3px;
}

.heading-box p {
    font-size: 15px;
}

.customization-section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    margin: auto
}

.customization-section h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 7px;
    background-color: #ff8c00;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #5f9ea0;
}

button {
    background-color: #4169e1;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e90ff;
}

button:active {
    transform: scale(0.98);
}

.todo-section {
    background-color: #f5f5f5;
    padding: 25px;
    border-radius: 8px;
    margin-top: 30px;
}

.todo-section h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

#todoList {
    margin-top: 20px;
    padding-left: 25px;
}

#todoList li {
    color: #2c3e50;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-left: 4px solid #FF8C00;
}

#todoList li:last-child {
    border-bottom: none;
}