body {
    background-color: rgb(155, 134, 102);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1200px;
    border-top: 15px;
    padding: 15px;
    border: 20px solid transparent;
    border-image: repeating-linear-gradient(0deg, #000000, #9b8666, #000000);
    border-image-slice: 2 5;
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(192, 151, 19);
    text-align: center;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9b8666;
    border: 5mm inset rgb(21, 14, 3);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 0px;
    margin-top: 0;
}

.div1 h2 {
    border: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    background-color: gray;
    color: white;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #437c7f;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.div1 .h2-2 {
    border: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    background-color: gray;
    color: white;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #437c7f;
    font-size: 20px;
    width: 40%;
    margin: auto;
}

.div2 h2 {
    border: 10px;
    border-style: double;
    border-radius: 25px;
    border-color: rgb(58, 59, 44);
    background-color: rgba(202, 202, 69, 0.756);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 90%;
    margin: auto;
}

.div3 h3 {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 90%;
    margin: auto;
}

.flip-guitar {
    display: inline-block;
    transform: scaleX(-1);
}

.div1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.667);
    border: 15px;
    border-radius: 75px;
    border-style: double;
    border-color: rgb(0, 0, 0);
    padding: 15px;
}

#my-guitars {
    position: relative;
    display: inline-block;
    border: 10px solid rgb(229, 217, 199);
    border-radius: 20px;
    background-color: rgb(229, 217, 199);
    box-shadow:
        0 -10px 10px 10px white inset,
        0 0 8px 8px rgb(171, 126, 82);
    overflow: hidden;
    padding: auto;
}

#my-guitars img {
    display: block;
    width: 100%;
    height: auto;
}

#my-guitars ul {
    padding: 0 10px;
}

#my-guitars p {
    padding: 0 10px;
}

.div2 {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-position: inside;
    max-width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 20px black;
    border-style: ridge;
    background-color: white;
    padding: 20px;
}

.div3 {
    background-color: rgb(171, 171, 171);
    border-radius: 50px;
    text-align: center;
    max-width: 350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: #000000;
    border-style: dashed;
    width: 70%;
}

.div3-det {
    background-color: rgb(171, 171, 171);
    border-radius: 50px;
    text-align: center;
    max-width: 350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: #000000;
    border-style: dashed;
    width: 70%;
    font-size: 15px;
}